.navigation-container{
  background-color: var(--first-color);
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--fourth-color);
  margin-bottom: 2%;
  position: fixed;
  z-index: 9999;
}

.menu-container{
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

  .logo-container>p{
    font-weight: bolder;
    font-size: 1.3rem;
  }

  .menu-item{
    text-decoration: none;
    color: var(--fourth-color);
    font-weight: 500;
  }

  .navigation-btn{
    background-color: var(--fourth-color);
    border: none;
    border-radius: 50%;
    padding: 0.5rem;
    cursor: pointer;
  }

    .navigation-btn svg{
      fill: var(--first-color);
    }

