.products-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  text-align: center;
}

.cart-item-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card{
  border: 2px solid var(--fourth-color);
  background-color: var(--fourth-color);
  border-radius: 8%;
  padding: 1%;
  display: flex;
}

.clean-btn{
  width: 75%;
  letter-spacing: 0.1rem;
  
}

  .product{
    width: 200px;
    height: 250px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    line-height: 1.5rem;
    padding: 5% 0%;
  }

    .image-product{
      height: 125px;
    }

    .image-product>img{
      width: inherit;
      height: inherit;
    }
    
  .cart-item{
    width: 75%;
    border-radius: 2%;
    justify-content: space-between;
    align-items: center;
  }
  
  .cart-item>button{
    height: fit-content;
  }