/*************VARIABLES***************/
:root{
  --first-color: #19274C;
  --second-color: rgb(250, 105, 0);
  --second-alpha-color: rgb(250, 105, 0, 0.8);
  --third-color: #1F57A0;
  --fourth-color: #EEF0F4;
  --fifth-color: #4D9B09;
  --main-font: Georgia, 'Times New Roman', Times, serif;
  --second-font: 'Times New Roman', Times, serif;
}

/***************RESET****************/
html{
  font-size: 16px;
  font-family: var(--main-font);
}

*, ::after, ::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  overflow-x: hidden;
  text-align: center;
}

/************UTILITIES************/
.container{
  height: fit-content;
  width: 100%;
  padding: 2%;
}

/************COMPONENTS************/
.btn{
  background-color: var(--second-color);
  border: none;
  border-radius: 5%;
  padding: 0.5rem;
  font-weight: bold;
  color: var(--fourth-color);
  font-size: 0.8rem;
  text-shadow: 0.5px 0.5px 2px black;
}

  .btn:hover{
    background-color: var(--second-alpha-color);
  }